#nav-bar {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: min-content;
    margin-top: 0;
}

#nav {
    display: flex;
}

#nav>a {
    text-decoration: none;
    padding: 8px;
}

#nav:hover {
    color: red;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-field {
    outline: none;
    border-radius: 4px;
    border: solid black;
    padding: 10px 10px;
}

.input-field:focus {
    border: solid red;
}

.my-button {
    background-color: chartreuse;
    color: black;
    border-radius: 2px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.my-button:active {
    background-color: aqua;
    transform: translateY(2px);
}